@model int

<div class="dropdown cart">
    <button type="button" class="btn btn-dark" onclick="window.location.href ='@Url.Action("Index","Cart")'">
        Cart <span class="badge badge-light">@Model</span>
    </button>
</div>
