**/wwwroot/js/ linguist-vendored
**/wwwroot/js/category/ -linguist-vendored
**/wwwroot/js/order/ -linguist-vendored
**/wwwroot/js/product/ -linguist-vendored
**/wwwroot/js/rating/ -linguist-vendored
**/wwwroot/css/* linguist-vendored