@model IEnumerable<Application.DTO.ProductDTO>

@{
    ViewData["Title"] = "List of Products";

}

<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-10">
        <div id="product_section">
            <partial name="_ProductPartial" />
        </div>
    </div>

</div>