@model IEnumerable<Application.DTO.ProductDTO>

@{
    ViewData["Title"] = "List of Products";

}

<div class="row">
    @* Product filter section *@
    <div class="col-md-2">
        <div class="d-flex flex-column">
            <form id="filter-price-form">
                <div class="form-group">
                    <input type="number"
                           class="form-control"
                           id="min-price-input"
                           placeholder="FROM" />
                </div>
                <div class="form-group">
                    <input type="number"
                           class="form-control"
                           id="max-price-input"
                           placeholder="TO" />
                </div>
            </form>

            <div class="d-flex flex-column">
                <button type="button" class="btn btn-secondary mt-2">Name ASC</button>
                <button type="button" class="btn btn-secondary mt-2">
                    Name DESC
                </button>
                <button type="button" class="btn btn-secondary mt-2">
                    Price ASC
                </button>
                <button type="button" class="btn btn-secondary mt-2">
                    Price DESC
                </button>
            </div>
        </div>
    </div>
    @* Product display section *@
    <div class="col-md-10">
        <div id="product_section">
            <partial name="_ProductPartial" />
        </div>
    </div>

</div>