@model IEnumerable<Application.DTO.ProductDTO>

@{
    ViewData["Title"] = "List of Products";

}


@foreach (var prod in Model)
{
    <h1>@prod.productName</h1>
    <h1>@prod.productDescription</h1>
    <h1>@prod.productPrice</h1>
}
