@model IEnumerable<Application.DTO.ProductDTO>

@{
    ViewData["Title"] = "List of Products";
}

<div class="row">
    @* Product filter section *@
    <div class="col-md-2">
        <div class="d-flex flex-column">
            <div class="form-group">
                <input type="number"
                       class="form-control"
                       min-price-input
                       min="0"
                       placeholder="FROM" />
            </div>
            <div class="form-group">
                <input type="number"
                       class="form-control"
                       max-price-input
                       min="0"
                       placeholder="TO" />
            </div>
            <button type="submit" filter-btn class="btn btn-secondary w-100">Filter</button>

            <div class="d-flex flex-column filters">
                <a class="btn btn-secondary mt-2" data-filter="asc">
                    Price ASC
                </a>
                <a class="btn btn-secondary mt-2" data-filter="desc">
                    Price DESC
                </a>
            </div>
        </div>
    </div>
    @* Product display section *@
    <div class="col-md-10">
        <div id="product_section">
            @*<partial name="_ProductPartial" />*@
            @await Component.InvokeAsync("Product", new { products = Model })
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/js/product/script.js"></script>
}