@model IEnumerable<Product>
@{
    int itemsLength = Model.Count();
}
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-lg-4 col-sm-6">
            <div class="single_product_item">
                <img src="@product.Images[0].imageUrl" class="img-fluid" />
                <div class="single_product_text">
                    <h4>@product.productName</h4>
                    <h3>    @product.productPrice$</h3>
                    <a class="add_cart" asp-controller="Home" asp-action="Product" asp-route-id="@product.productId">
                        + add to cart
                    </a>
                </div>
            </div>
        </div>
    }

</div>