@model IEnumerable<Application.DTO.ProductDTO>
@{
    int counter = 0;
    int itemsLength = Model.Count();
}
<div class="row">

    @foreach (var product in Model)
    {
        if (counter != 0 && counter % 4 == 0)
        {
        @:</div>
        @:<div class="row mt-3">
        }
        <div class="col-md-3">
            <div class="d-flex flex-column bg-light">
                <img src="https://via.placeholder.com/300" class="img-fluid" />
                <div class="d-flex flex-column pt-3">
                    <div class="d-flex flex-row justify-content-around">
                        <h5>@product.productName</h5>
                        <h6 class="text-success">@product.productPrice$</h6>
                    </div>
                    <div class="text-center">
                        <p class="font-weight-light">@product.productDescription</p>
                    </div>
                </div>
            </div>
        </div>

        counter++;
    }

</div>